html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #222;
  color: #fff;
  font-family: Mono, Monospace, monospace;
}

.canvasWrapper {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
